title: TASC7/KASC14
preposition: at

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://tasc.ifa.hawaii.edu/" # the base hostname & protocol for your site, e.g. https://example.com

theme: jekyll-theme-conference

# Build settings
markdown: kramdown
sass:
  style: compressed

# Additional exclude from processing
exclude:
  - .github/
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - purgecss.config.js

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room


conference:

  # Language
  lang: en

  # Show theme errors:
  show_errors: True

  # Navigation bar
  navigation:
    logo:
      name: IFA
      img: 'logo.png'
      url: 'https://ifa.hawaii.edu/'
    logo2:
      name: WDRC
      img: 'wdrc.png'
      url: 'https://whitedwarf.org/'
    links:
      - name: Logistics
        relative_url: /logistics/
      - name: Registration
        relative_url: /registration/
      - name: Program
        relative_url: /program/
      - name: Tourism
        relative_url: /tourism/
      - name: Committees
        relative_url: /committees/
      - name: Code of conduct
        relative_url: /coc/
      # - name: Talks
      #   relative_url: /talks/
      # - name: Speakers
      #   relative_url: /speakers/
      # - name: Location
      #   relative_url: /location/
      - name: Previous meetings
        menu:
          - name: 2023 (current)
            disabled: true
          - name: 2022
            absolute_url: "https://fys.kuleuven.be/ster/events/conferences/2020/tasc6"
          - name: 2019
            absolute_url: "https://web.mit.edu/tasc5/registration.html"
          - name: 2018
            absolute_url: "https://conferences.au.dk/tasc4"

  # Link Preview for Sharing
  link_preview:
    # also adapt "preposition" property at top for more meaningful descriptions
    disable: false
    img:
      twitter: 'twitter_preview.png'      # inside /assets/images/
      open_graph: 'facebook_preview.png'  # inside /assets/images/

  # Main landing page
  main:
    # logo:
    #   img: 'logo.png'
    links:
      - name: Logistics
        relative_url: /logistics/
      - name: Registration
        relative_url: /registration/
      - name: Program
        relative_url: /program/
      - name: Committees
        relative_url: /committees/

  # Information boxes
  info_bars:
    - title: Registration is now open!
      color: primary
      main_only: true
      text: |
        We are pleased to announce that registration for TASC7 is now active. Please carefully read the information on the registration page for instructions on abstract submission, payment, and accomodation.

  # Live indications
  live:
    date: 01.01.2020
    timezone: GMT+1
    stop:       240  # in minutes
    streaming:
      enable: true
      pause:     60  # in minutes
      prepend:    5  # in minutes
      extend:     5  # in minutes
    demo:
      enable: false
      duration: 300  # in seconds
      pause:     10  # in seconds

  map:
    # Initial map center point
    home_coord: 21.299065724566425, -157.81779329925254
    # Alternative map providers can be found on https://leaflet-extras.github.io/leaflet-providers/preview/
    # The following do match the Bootstrap design not too badly:
    #   - Hydda.Full
    #   - Thunderforest.Neighbourhood
    #   - Esri.WorldTopoMap
    map_provider: "OpenStreetMap.Mapnik"
    default_zoom: 5

  talks:
    # Talk categories
    main_categories:
      - name: Asteroseismology
        color: info
      - name: Exoplanets
        color: success
      - name: Galactic astronomy
        color: warning

    # Hide icons on talk overview page
    hide_icons: false

  speakers:
    # Show first and last name
    show_firstname: true

  location:
    # Disable links to locations
    hide: true
    # URL of location / room overview page
    url: '/location'
    # Main page title shown on location/room navigation bar
    navbar_title: 'Location'
    # Show map on location main page
    map: true

  program:
    # URL of program page
    url: '/program'

    # Time steps in program table
    time_steps: 15 # in minutes

    # Show intermediary time steps (next to full hours)
    show_alltimes: true
